<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Registros de medidas de triangulos</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Base</th>
                    <th>Altura</th>
                    <th>Area</th>
                    <th>Perimetro</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="triangulo : ${lista}">
                    <td th:text="${triangulo.id}">ID de Calculo</td>
                    <td th:text="${triangulo.base}">Valor de base</td>
                    <td th:text="${triangulo.altura}">Valor de altura</td>
                    <td th:text="${triangulo.area}">Valor de area</td>
                    <td th:text="${triangulo.perimetro}">Valor de perimetro</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
