Actividad3CompuAdvJ/
Actividad4CompuAdvJ/nbproject/private/
Actividad4CompuAdvJ/build/
Actividad4CompuAdvJ/
Actividad6CompuAdvJ/nbproject/private/
Actividad6CompuAdvJ/build/
Actividad7CompuAdvJ/nbproject/private/
Actividad7CompuAdvJ/build/
/MVC/nbproject/private/
/MVC/build/
/MVC/dist/
/Act9Tarea8AppsWeb/nbproject/private/
/Actividad11CompuAdvJ/nbproject/private/
/Actividad11CompuAdvJ/build/
/Actividad12CompuAdvJ/nbproject/private/
/Actividad10CompuAdvJ/nbproject/private/
/spring-boot/src/main/resources/application.properties
*.bak
# application.properties
/Actividad12CompuAdvJ/build/
