<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Usuario registrado!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Muchas gracias por registrarse!
        </p>
        <p>
            Su usuario es:
            usuario + "\n"
        </p>
        <p>
            Y su contraseña es: 
            contra + "\n"
        </p>
        <p><a href="#">Volver a inicio</a></p>
    </body>
</html>
