<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuario registrado!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Peso</th>
                    <th>Estatura</th>
                    <th>IMC</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="imcObj : ${listImc}">
                    <td th:text="${imcObj.id}">ID</td>
                    <td th:text="${imcObj.peso}">Peso</td>
                    <td th:text="${imcObj.estatura}">Estatura</td>
                    <td th:text="${imcObj.imc}">IMC</td>
                    <td th:text="${imcObj.fecha}">Fecha</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
